@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-lato;
}

#root {
  min-width: 320px;
  min-height: 100dvh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Custom styles for reminders list */

.scrollable-list::-webkit-scrollbar {
  width: 6px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #421f91;
  border-radius: 100px;
}

/* Custom styles for reminder form */

.custom-time-input::-webkit-calendar-picker-indicator {
  display: none;
}

.custom-time-placeholder:before {
  content: "HH:MM";
  color: #38404280;
  position: absolute;
  background: #fff;
  cursor: text;
}

.custom-time-placeholder:focus:before {
  content: "";
}
