@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-lato;
}

#root {
  min-width: 320px;
  min-height: 100dvh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
